.head-css{
  background-color: #2d6db6;
  font-family: arial, sans-serif;
  padding: 6px 12px;
}


.center{
  text-align: center;
}
.center-link{
  text-align: center;
  a {
  font-family: Arial, sans-serif;
  font-size: 20px;
  }
  a:link    { color: blue;  }
  a:visited { color: red;   }
  a:hover   { color: green; }
  a:active  { color: pink;  }
}

.foot-head{
  background-color: #2d6db6;
  font-size: 16px;
  text-align: center;  
  font-family: arial, sans-serif;
} 
 
.btn {
  display: inline-block;
  font-family: arial, sans-serif;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  margin: 10px;
  padding: 6px 12px;
  border-radius: 6px;
}
